{% extends 'base.html.twig' %}

{% block title %}Modifier mon deal{% endblock %}

{% block body %}

    <div class="container">
        <h1>Edit Deal</h1>
        {{ include('deal/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('deal_index') }}">back to list</a>

        {{ include('deal/_delete_form.html.twig') }}
    </div>

{% endblock %}
