{% extends 'base.html.twig' %}

{% block title %}Modifier mon deal{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card animate__animated animate__fadeInUp mt-4">
                    <div class="card-header">
                        <h3 class="text-center">Modification d'un deal</h3>
                    </div>
                    <div class="card-body">
                        {{ include('deal/_form.html.twig') }}
                    </div>
                </div>

                <a href="{{ path('app_user_profile_deals') }}" class="btn btn-secondary mt-3 animate__animated animate__fadeInUp">Retour aux deals</a>
            </div>
        </div>
    </div>

{% endblock %}
