{% block nav %}
    <div class="container mt-3">
        <div class="row text-center">
            <div class="col">
                <a class="btn btn-secondary">Badges</a>
                <a class="btn btn-secondary">Mes deals</a>
                <a class="btn btn-secondary">Badges</a>
            </div>
        </div>
    </div>
{% endblock %}